.calendarBox{
    padding: 10px;
}
.titleName{
    background: #f5f6f7;
    border-radius: 5px;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.iconBtn{
    font-size: 20px;
    padding: 10px 10px 10px 0;
}
.weekText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #989DB3;
    li{
        flex: 1;
        text-align: center;
    }
}
.daysText{
    display: flex;
    justify-content:center;
    padding: 5px;
    flex: 1;
    li{
        position: relative;
       
    }
    i{
        height: 5px;
      
        width: 5px;
        border-radius: 50%;
        display: flex;
        position: absolute;
        bottom: -5px;
    }
}
.otherdaysText{
    display: flex;
    justify-content:center;
    padding: 5px;
    flex: 1;
    color: #DADEF0;
}
.havei{
    background: #0085E3;
}
.nothavei{
    background: #FF9436;
}
.itemSelected {
    // display: inline-block;
    width: 35px;
    height: 35px;
    background: rgba(38,147,255,1);
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;

}
.itemNoSelected{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
  .bottomBox{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      div{
          height: 2px;
          width: 30px;
          background: #cccccc;
      }
  }